<div class="row mt-4">
  <button type="button"  class="btn btn-outline-dark border-0 btn-lg h-25" (click)="navigateBack()">
    <fa-icon (click)="navigateBack()" [icon]="faArrowCircleLeft"></fa-icon>
  </button>
  <div class="col-10">
    <form [formGroup]="slotForm" (ngSubmit)="onSubmitForm()" #f="ngForm">
      <div class="form-group">
        <label for="title"><h3>Titre</h3></label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="desc"><h3>Description</h3></label>
        <textarea id="desc" class="form-control" formControlName="description"></textarea>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="startDate">Date de début</label>
          <input type="datetime-local" id="startDate" class="form-control" formControlName="startDate" (change)="onChangedStartDate($event)">
        </div>
        <div class="form-group col-6">
          <label for="endDate">Date de fin</label>
          <input type="datetime-local" id="endDate" class="form-control" formControlName="endDate">
        </div>
      </div>
      <div class="form-group">
        <select class="custom-select" (change)="changeType($event)" formControlName="type">
          <option value="" disabled>Type</option>
          <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
        </select>
      </div>
      <hr>
      <h3>Classes concernées</h3>
      <div class="custom-control custom-checkbox" *ngFor="let c of classes; let i=index">
        <input class="custom-control-input" type="checkbox" [id]="i" [value]="c.class_id" (change)="onCheckboxChange($event)"
               [checked]="slot.slots_classes.indexOf(c.class_id) > -1">
        <label class="custom-control-label" [for]="i">{{c.class_name}}</label>
      </div>

      <div *ngIf="!isModifying" class="text-center">
        <hr>
        <div class="custom-control custom-switch">
          <input class="custom-control-input" type="checkbox" id="repetitiveSlot" (change)="showRepetitiveForm($event)">
          <label class="custom-control-label" for="repetitiveSlot">Définir un évenement répétitif</label>
        </div>
        <br>
        <div *ngIf="showRepetitive && !isModifying" class="form-group">
          <label for="nbWeeks" class="mr-3">Nombre de semaine</label>
          <input type="number" id="nbWeeks" style="width: 50px" formControlName="nbWeeks">
        </div>
      </div>
      <div class="text-center" style="margin: 0 auto; width: 100%">
        <button type="submit" class="btn btn-outline-dark" [disabled]="f.invalid">{{this.isModifying ? "Modifier" : "Ajouter"}}</button>
        <small id="formHelp" class="form-text text-muted" *ngIf="f.invalid">Vous devez remplir tous les champs</small>
      </div>
    </form>

  </div>
</div>
